doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='../javascripts/headernav.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Merriweather:700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Oswald')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content