body {
  color: #000000;
  font-family: 'Frank Ruhl Libre', sans-serif;
  letter-spacing: 1px;
  width: 100%;
  font-size: 1.1em;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #3836a4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: 'Merriweather', sans-serif;
}

header {
  background-color: #54418b;
  width: 100%;
  height: 8em;
  margin: 0;
  border-bottom: #000 solid 4px;
}

header > #header-wrapper {
  max-width: 900px;
  margin: 0 auto 0 auto;
  padding: 1em;
  padding-bottom: 0px;
}

header h2 {
  color: white;
  font-weight: bold;
}

header h2 span {
  background-color: white;
}

header #git-logo {
  float: right;
  position: relative;
  bottom: 80px;
}

header nav {
  margin: 1.5em 20px 10px 20px;
}

#nav-wrapper .nav-button:hover {
  cursor: pointer;
}

header nav .nav-button {
  display:inline;
  margin-left: 1em;
}

header nav .nav-button-expanded {
  display: none;
  width: 10em;
  background-color: white;
  padding: 20px;
  border: solid 2px lightgray;
  border-left: none;
  border-top: none;
  z-index: 0;
  position: relative;
}

header nav #nav-expanded-one {
  z-index: 1;
}

header nav #nav-expanded-two {
  z-index: 2;
  left: 9em;
}

header nav #nav-expanded-three {
  z-index: 3;
  left: 18em;
}

header nav #nav-wrapper .nav-button-expanded p {
  margin: 0;
}

header nav #nav-wrapper .nav-button p {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  margin: 5px;
  display: inline-block;
}

header nav #nav-wrapper .nav-arrow {
  font-size: .8em;
  color: white;
  display: inline-block;
}

#sidebar {
  font-size: 1em;
  float: left;
  margin-left: 15px;
  width: 18%;
}

#sidebar > p {
  font-size: 1.2em;
  margin: 0 0 0 1em
}

#sidebar ul {
  padding-left: 0;
  font-size: .8em;
}

#sidebar li {
  list-style-type: none;
  margin-top: .5em;
  word-wrap: break-word;
  letter-spacing: normal;
}

#sidebar a {
  color: black;
  margin-top: .5em;
}

main {
  float: right;
  width: 80%;
}

#wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper #subtitle {
  margin: 2em auto 2em 4em;
}

main #center {
  width: 70%;
}

main #center #intro-paragraph {
  padding: 1.5em 0 1.5em 0;
  border: cornflowerblue solid 4px;
  border-left: 0;
  border-right: 0;
  margin-left: .5em;
}

main #center #intro-paragraph p {
  margin: auto 10px auto 10px;
  line-height: 1.5em;
}

main #center section {
  margin-top: 2em;
  padding-bottom: 1em;
}

main #center section p {
  margin: 1em;
}

main #center .section-header {
  background-color: black;
  color: white;
  font-size: 1.3em;
  padding: 0 3px 0 3px;
  display: inline-block;
  margin: auto auto 0 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

main #center .section-header span {
  margin-left: 0;
}

main #center .code-snippet {
  margin: 1.5em;
  border-radius: 5px;
  background-color: lightgray;
  font-family: "Droid Sans Mono", monospace;
  padding: 1em;
  border-left: 4px solid;
  border-color: cornflowerblue;
}

main #anchors {
  margin-right: 20px;
  width: 25%;
  background-color: #dedede;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: right;
}

main #anchors p, span {
  margin-left: 2em;
}

main #anchors ul {
  padding-left: 1em;
}

main #anchors li {
  list-style-type: none;
}

main #anchors p {

}


.code-snippet .keyword {
  color: darkorange;
}

.code-snippet .string {
  color: forestgreen;
}

.code-snippet .number {
  color: dodgerblue;
}

.code-snippet .variable {
  color: mediumblue;
}

.code-snippet .property {
  color: mediumpurple;
}

.code-snippet .comment {
  color: dimgrey;
}

.quote {

}