body {
  color: #000000;
  font-family: 'Frank Ruhl Libre', sans-serif;
  letter-spacing: 1px;
  width: 100%;
  font-size: 1.1em;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: 'Merriweather', sans-serif;
}

header {
  background-color: #54418b;
  width: 100%;
  height: 8em;
  margin: 0;
  border-bottom: #000 solid 4px;
}

header h2 {
  color: white;
  font-weight: bold;
  padding-top: 1em;
  margin: 0 auto 0 auto;
  padding-left: 1em;
  max-width: 900px;
}

header h2 span {
  background-color: white;
}

#sidebar {
  font-size: 1em;
  float: left;
  margin-left: 15px;
  width: 17%;
}

#sidebar ul {
  padding-left: 0;
  font-size: .8em;
}

#sidebar li {
  list-style-type: none;
  margin-top: .5em;
  word-wrap: break-word;
}

#sidebar a {
  color: black;
  margin-top: .5em;
}

main {
  float: right;
  width: 80%;
}

#wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#subtitle {
  margin: 2em auto 1.5em 2em;
}

main #center {
  width: 70%;
}

main #center #intro-paragraph {
  padding: 1.5em 0 1.5em 0;
  border: cornflowerblue solid 4px;
  border-left: 0px;
  border-right: 0px;
  margin-left: .5em;
}

main #center #intro-paragraph p {
  margin: auto 10px auto 10px;
  line-height: 1.5em;
}

main #center section {
  margin-top: 2em;
  padding-bottom: 1em;
}

main #center section p {
  margin: 1em;
}

main #center .section-header {
  background-color: black;
  color: white;
  padding: 5px;
  display: inline-block;
  margin: auto auto 0 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

main #center .section-header span {
  margin-left: 0;
}

main #center .code-snippet {
  margin: 1.5em;
  border-radius: 5px;
  background-color: lightgray;
  font-family: "Droid Sans Mono", monospace;
  padding: 1em;
  border-left: 4px solid;
  border-color: cornflowerblue;
}
main #anchors {
  margin-right: 20px;
  width: 25%;
  background-color: #dedede;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: right;
}

main #anchors p, span {
  margin-left: 2em;
}


main #anchors li {
  list-style-type: none;
}

main #anchors p {

}


.code-snippet .keyword {
  color: darkorange;
}

.code-snippet .string {
  color: forestgreen;
}

.code-snippet .number {
  color: dodgerblue;
}

.code-snippet .variable {
  color: mediumblue;
}

.code-snippet .property {
  color: mediumpurple;
}

.code-snippet .comment {
  color: dimgrey;
}

.quote {

}